@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Arial", sans-serif;
  background-color: #f5f8fa;
  color: #333;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Inter", sans-serif;
}

button {
  transition: transform 0.3s ease;
}

/* button:hover {
  transform: scale(1.05);
} */

@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* table css */

/* .bb-tbl tr th {
  background-color: #fff9fc;
}

.bb-tbl tr th {
  border: 0;
}

.bb-tbl tr th {
  padding: 0.5rem 1rem !important;
  color: #484848;
  font-size: 0.875rem;
  font-weight: 600;
}

.bb-tbl tr td {
  padding: 0.75rem 1rem !important;
}

.bb-tbl tr td {
  border: 1px solid;
  border-color: #e6edf2;
  border-width: 0 0 1px 0;
  color: #5a5a5a;
  font-size: 0.875rem;
} */

.bb-tbl tr th {
  background-color: #fff9fc;
  border: 0;
  padding: 0.5rem 1rem !important;
  color: #3a3a3a;
  font-size: 0.875rem;
  font-weight: 600;
}

.bb-tbl tr td {
  padding: 0.75rem 1rem !important;
  border: 1px solid #e6edf2;
  border-width: 0 0 1px 0;
  color: #5a5a5a;
  font-size: 0.875rem;
}

/* modal css */

.ReactModal__Overlay {
  z-index: 99;
  background-color: rgb(0 15 26 / 60%);
}
